NODE_ENV=development
PORT=3000
LOG_LEVEL=info
CORS_ORIGIN=*

DATABASE_URL="postgresql://reelingo:reelingo@localhost:5432/reelingo_dev?schema=public"

GOOGLE_CLIENT_ID=""
JWT_SECRET="change-me-to-a-random-string-of-at-least-32-chars"
JWT_ISSUER=reelingo-server
JWT_AUDIENCE=reelingo-api
ACCESS_TOKEN_TTL_MINUTES=15
SESSION_TTL_MINUTES=10080
